//
   Created by Spy on 2014/5/3.
doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="viewport" , content="width=device-width , initial-scale=1.0")
        meta(name="description" , content="This is a Node App , hosting in Nodejitsu , for learning Node")
        meta(name="author" , content="Spy , front-end developer , wjj474957860@gmail.com")
        link(rel='shortcut icon', href='http://pigerla.com/assets/images/favicon.ico')
        block css
    body
        block content
        block js